body {
    background: var(--background-color) !important;
}

:root {
    --primary-color: #2f4359;
    --background-color: #eceeff;
    --hover-color: blue;
    --second-color: #605555;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

/* Section styles */
section {
    margin: 30px 0;
}

.section-headers {
    margin-bottom: 15px;
}

.section-headers h4 {
    font-size: 1.75rem;
    font-weight: 650;
}

/* Buttons */
.my-dark_button, .my-light_button {
    margin-top: 20px !important;
    padding: 5px 14px;
    border-radius: 50px;
    font-weight: 500;
    text-decoration: none;
    margin: 15px 0;
    transition: 1s;
}

.my-dark_button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.my-dark_button:hover {
    color: var(--primary-color) !important;
    background-color: var(--background-color);
}

.my-light_button {
    color: var(--primary-color) !important;
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
}

.my-light_button:hover {
    color: var(--background-color) !important;
    background: none;
    border: 1px solid var(--background-color);
}

/* Icon styles */
i {
    font-size: 18px;
    margin: 5px;
}

/* Navbar */
header .navBar-section nav,
header .offcanvas {
    background-color: var(--primary-color) !important;
}

/* Hero profile */
.hero-profile {
    padding: 75px 0;
    margin-top: 0 !important;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.hero-profile .hero-title {
    font-family: 'Courgette', cursive !important;
}

.hero-profile .hero-profile-image img {
    height: 12rem;
    width: 12rem;
    border: 5px solid rgba(122, 122, 150, 0.75);
}

.hero-profile .hero-info {
    margin-top: 25px;
}

.hero-profile .hero-info h1 {
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 700;
}

.hero-profile .hero-info .hero-paragraph {
    margin: 10px 25px;
    font-weight: 450;
}

.hero-profile .hero-info .hero-buttons {
    margin-top: 20px;
}

.hero-profile .hero-info .hero-buttons a {
    color: var(--background-color);
    margin: 5px;
}

/* Modal styles */
.modal-content {
    background-color: var(--background-color) !important;
}

.modal-header {
    border-bottom: none;
    margin-top: 20px;
    color: var(--primary-color);
}

.modal-body, .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px;
}

.modal-body p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--primary-color);
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Projects */
.singleProject, .singleArticle {
    background-color: var(--primary-color) !important;
    color: var(--background-color);
    border: none !important;
    box-shadow: 15px 15px 0px -10px rgba(27, 27, 50, 0.30);
    height: 100%;
}

.singleProject img, .singleArticle img {
    max-height: 200px;
    object-fit: cover;
    border: none !important;
}

.singleProject-body, .singleArticle-body {
    padding: 15px !important;
    height: 100%;
}

.myProjects .myProjects-body .singleProject-body a {
    text-decoration: underline !important;
    color: var(--background-color);
    text-align: right !important;
    display: block;
    margin-top: 15px;
}

/* Drop Message */
.dropMessage {
    padding: 50px 0 !important;
    background-color: var(--primary-color);
    color: #FFFFFF;
}

/* Online Judge Profiles */
.oj_profile_card {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
}

.oj_profile_single {
    margin: 20px auto;
}

.oj_profile_single:hover .oj_profile_card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 1px 4px 6px -2px;
}

.oj_logo img {
    height: 100%;
    width: 100%;
}

.oj_details {
    padding: 15px;
    margin: auto;
}

.oj_profile_single_info p {
    font-weight: 400;
    font-size: .95rem;
    color: #585e6a;
}

.oj_profile_single_link a {
    font-size: .8rem;
    font-weight: 700;
    color: var(--second-color);
    text-decoration: underline !important;
}

.oj_profile_single_link a:hover {
    color: var(--primary-color);
}

/* Articles */
.singleArticle img {
    min-height: 400px !important;
}

/* Footer */
footer {
    padding-bottom: 0 !important;
    margin-top: 50px !important;
}

footer .footer-body .footer-text h3 {
    font-weight: 700;
    letter-spacing: -.65px;
    color: var(--primary-color);
}

footer .footer-body .footer-icons a {
    font-size: 1.2rem;
    color: var(--second-color);
}

footer .footer-body .footer-icons a:hover,
footer .footer-body .footer_contact a {
    color: var(--primary-color);
}

footer .footer-body .footer_contact .footer_contact_single {
    margin: 0px 5px;
}

footer .footer-body .copyright {
    margin-top: 15px;
    color: #707070;
    font-size: .75rem;
}

/* Custom Icons */
.my-ico {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.oj-hr {
    background-image: url('../images/my-ico/oj/hackerrank_profile.png');
}

.oj-lc {
    background-image: url('../images/my-ico/oj/leetcode_profile.png');
}

.oj-cf {
    background-image: url('../images/my-ico/oj/codeforces_profile.png');
}
